<!DOCTYPE html>
<html lang="ch">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>血缘分析渲染器</title>
  <!-- Import style -->
  <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
  <!-- Import Vue 3 -->
  <script src="//unpkg.com/vue@3"></script>
  <!-- Import component library -->
  <script src="//unpkg.com/element-plus"></script>
  <script type="module" crossorigin src="/lineage/assets/index.342f04eb.js"></script>
  <link rel="stylesheet" href="/lineage/assets/index.b41a17b0.css">
</head>

<body>
  <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->

  <div id="app">
    <div class="toobar">
      <el-input v-model="" size="small" placeholder="请输入表名称" :prefix-icon="Search" style="width: 300px; margin-right: 6px;"></el-input>
      <el-button type="primary" size="small" @click="handleFullscreen">FullScreen</el-button>
      <input v-model="zoom" type="range" min="1" max="100" step="1" />
      <span>{{zoom}}</span>
    </div>
    <div id="canvas"></div>
  </div>

  
</body>

</html>