<!DOCTYPE html>
<html lang="ch">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Data Renderer</title>
  <!-- Import style -->
  <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
  <!-- Import Vue 3 -->
  <script src="//unpkg.com/vue@3"></script>
  <script src="//unpkg.com/vue-router@4"></script>
  <!-- Import component library -->
  <script src="//unpkg.com/element-plus"></script>
  <script type="module" crossorigin src="/renderer2d/assets/index.0e7376da.js"></script>
  <link rel="stylesheet" href="/renderer2d/assets/index.efc84c1e.css">
</head>

<body>

  <div id="app">
    <el-menu
      :default-active="activeTab"
      router
    >
      <template v-for="it in routes.filter(i => i.name)" :key="it.path">
        <el-menu-item :index="it.path">
          <!-- <el-icon><setting /></el-icon> -->
          <span>{{it.name}}</span>
        </el-menu-item>
      </template>
    </el-menu>
    <!-- <el-tabs v-model="activeTab" tab-position="left" class="tabs-box">
      <template v-for="it in routes.filter(i => i.name)" :key="it.path">
        <el-tab-pane :label="it.name" :name="it.path">
        </el-tab-pane>
      </template>
    </el-tabs> -->
    <div class="component-box">
      <router-view />
    </div>
  </div>

  
</body>

</html>